* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #dadada;
}

.titulo {
    text-align: center;
    color: #1a564c;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 48%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    overflow: hidden;
}

.card-top {
    background: #1a564c;
    color: white;
    padding: 14px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}


.card-body {
    padding: 25px;
}

#pergunta {
    width: 100%;
    height: 140px;
    border: 2px solid #1aa486;
    border-radius: 8px;
    padding: 12px;
    outline: none;
    resize: none;
    font-size: 15px;
    background: #f7ffff;
}

button {
    margin-top: 20px;
    padding: 10px 24px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background: linear-gradient(90deg, #1a564c, #0e2c25);
    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
}

#resposta {
    width: 100%;
    min-height: 140px;
    border: 2px solid #1aa486;
    border-radius: 8px;
    padding: 12px;
    font-size: 15px;
    background: #f7ffff;
    display: none;
    white-space: pre-wrap;
}
