.navbar {
  font-family: "Inter", sans-serif;
  color: var(--text-navbar-color);
  background-color: var(--bg-card);
}

.container_nav {
  display: flex;
  flex-direction: row;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#logo_nav {
  margin: 1rem 2rem;
}

#logo_nav img {
  width: 11%;
}

.nav {
  display: flex;
  width: 40%;
  align-items: center;
  gap: 5%;
}

.ul_nav {
  display: flex;
  width: 70%;
  justify-content: end;
  gap: 5%;
}

.ul_nav li:hover {
  color: var(--text-destaque-color);
}

#page_atual {
  color: var(--text-destaque-color);
  font-weight: bold;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.user img {
  width: 70%;
}