:root {
  --primary: #199D64;
  --primary-hover: #10B77F;
  --text-dark: #1c1c1c;
  --text-muted: #6b6b6b;
  --bg-light: #ffffff;
  --gray-border: #e0e0e0;
}
body {
    font-family: 'inter', sans-serif;
    font-weight: bold;    
}
/* PERFIL CARD */
.perfilContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f4f8f5;
}

.perfilCard {
  background-color: var(--bg-light);
  width: 650px;
  border-radius: 14px;
  padding: 40px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.12);
  position: relative;
}

.perfilInfo {
  display: flex;
  align-items: center;
  gap: 25px;
}

.avatar {
  width: 90px;
  height: 90px;
  border: 3px solid var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fdfb;
  overflow: hidden; /* garante que nada ultrapasse o círculo */
}

.avatar img {
  width: 79%;
  height: auto;
  opacity: 0.9;
}


.dados h2 {
  margin: 0;
  font-size: 22px;
  color: var(--text-dark);
}

.dados .email {
  color: var(--text-muted);
  margin: 1px 0;
}

.dados .cargo {
  color: var(--text-muted);
  margin-bottom: 1px;
}

.sair {
  color: var(--text-dark);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s;
}

.sair:hover {
  color: var(--primary-hover);
}

/*  LINKS (ATALHOS)*/
.atalhos {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.atalhos a {
  color: #000;
  text-align: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: underline transparent 1.5px;
  text-underline-offset: 3px;
  transition: all 0.3s ease;
}


.atalhos a:hover {
  color: var(--primary);
  text-decoration-color: var(--primary);
}


/* 
   .decoracao {
  position: absolute;
  right: 50px;
  bottom: 40px;
  width: 120px;
  height: 80px;
  background: linear-gradient(135deg, var(--primary-hover), var(--primary));
  clip-path: polygon(0 0, 100% 30%, 100% 70%, 0 100%);
  border-radius: 5px;
  transform: rotate(4deg);
  opacity: 0.8;
}
 */


/* RESPONSIVO*/
@media (max-width: 700px) {
  .perfilCard {
    width: 90%;
    padding: 25px;
  }

  .perfilInfo {
    flex-direction: column;
    text-align: center;
  }

  .decoracao {
    display: none;
  }

  .atalhos {
    align-items: center;
  }
}
