<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="shortcut icon" href="../assets/LogoIcon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../style/global.css" />
    <link rel="stylesheet" href="../style/navbar.css" />
    <link rel="stylesheet" href="../style/cadastro.css" />
</head>

<body>

    <header class="navbar">

        <div class="container_nav">

            <div id="logo_nav">

                <a href=""><img src="../assets/Logo.svg" /></a>

            </div>

            <nav class="nav">

                <ul class="ul_nav">

                    <li><a href="dashboardGeral.html">Dashboard</a></li>
                    <li><a id="page_atual" href="#">Cadastro</a></li>

                </ul>

                <div class="user">

                    <a href="perfil.html"><img src="../assets/Avatar.svg" alt="" /></a>
                    <span id="msg_user"></span>

                </div>

            </nav>

        </div>

    </header>

    <main id="main_container" class="container">

        <div class="configuracao">

            <h2 class="configuracao_header">Configuração de Usuários</h2>

            <div class="botoes_configuracao">

                <button class="btn_criar" onclick="novoUsuario()">
                    + Novo Usuário
                </button>

                <button class="btn_filtro" onclick="filtrarTodos()">
                    Mostrar Todos
                </button>

                <button class="btn_filtro" onclick="filtrarAdmin()">
                    Mostrar Administradores
                </button>

                <button class="btn_filtro" onclick="filtrarPadrao()">
                    Mostrar Padrão
                </button>

            </div>

            <div id="div_tabela"></div>

        </div>

        <div id="div_tela_cadastro" class="card_cadastro">

            <div class="card_cadastro_header">
                Cadastro de Usuario
            </div>

            <div class="card_cadastro_body">

                <div class="campo_cadastro">

                    <label for="ipt_nome" class="lbl_cadastro">Nome</label>
                    <input placeholder="Insira um nome..." type="text" id="ipt_nome" class="ipt_cadastro" value="Júlia Araripe">

                </div>

                <div class="campo_cadastro">

                    <label for="ipt_email" class="lbl_cadastro">E-mail</label>
                    <input placeholder="Insira um e-mail..." type="text" id="ipt_email" class="ipt_cadastro" value="julia.araripesptech.gov">
                
                </div>

                <div class="campo_cadastro">

                    <label for="ipt_senha" class="lbl_cadastro">Senha</label>
                    <input placeholder="Insira uma senha..." type="text" id="ipt_senha" class="ipt_cadastro" value="Persona5">

                </div>

                <div class="campo_cadastro">

                    <label for="slc_nivel" class="lbl_cadastro">Nível de Acesso</label>
                    <select name="" id="slc_nivel" class="ipt_cadastro">
                        <option>Padrão</option>
                        <option>Administrador</option>
                        <option selected disabled value="#">Selecione um nível</option>
                    </select>

                </div>

                <br>
                <button onclick="cadastrar()" id="btn_cadastrar" class="button">Cadastrar</button>
                <br>

                <div id='div_erro'></div>

            </div>

        </div>

    </main>

    <script src="../js/cadastro.js"></script>
    
</body>

</html>