<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
    <link rel="shortcut icon" href="../assets/LogoIcon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/navbar.css">
    <link rel="stylesheet" href="../style/perfil.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

  </head>
  <body onload="validarSessao()">

    <div class="perfilContainer">

      <div class="perfilCard">

        <div class="perfilInfo">

          <div class="avatar">

            <img src="../assets/AvatarPlaceholder.svg" alt="Avatar padrão" />

          </div>

          <div class="dados">

            <h2 id="usuario"></h2>
            <p id="email" class="email"></p>
           
          </div>

        </div>

        <div class="flexBox">

          <div class="atalhos">

            <a href="dashboardGeral.html">Dashboards</a>
            <a id="btn_cadastroPage" href="cadastro.html">Cadastro</a>
            <a target="_blank" href="https://retechbr.atlassian.net/servicedesk/customer/portals">Central de Serviços</a>
            <a onclick="limparSessao()" class="sair">Sair</a>

          </div>

          <div class="decoracao"><img src="../assets/PerfilIcon.png" alt=""></div>

        </div>

      </div>

    </div>
    
    <script src="../js/sessao.js"></script>
  </body>

</html>
