<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/footer.css">
    <title>Document</title>
</head>
<body>
    
    <!-- Inicio da Footer -->

    <div class="footer">
        <div class="container_footer">

            <div class="ftr_slogan">
                <img src="../asset/img/Logo_branca.svg" alt="">
                
                <p id="slogan">Transformando a gestão de resíduos urbanos através da <br>
                    tecnologia e inovação</p>

            </div>

            <div class="ftr_links">
                <ul>

                    <h4 class="title">Links Rápidos</h4>
                    <li><a href=""></a>Inicio</li>
                    <li><a href=""></a>Sobre</li>
                    <li><a href=""></a>Quem Somos</li>
                    <li><a href=""></a>Serviços</li>
                    <li><a href=""></a>Contato</li>
                    <li><a href=""></a>Entrar</li>

                </ul>
            </div>

            <div class="ftr_contatos">
                
                <ul>

                    <h4 class="title">Contatos</h4>
                    <li>
                        <img src="../asset/img/IconEmail.png" alt="">
                        contato@retech.com
                    </li>
                    <li>
                        <img src="../asset/img/IconPhone.png" alt="">
                        (11) 99999-9999
                    </li>
                    <li>
                        <img src="../asset/img/IconPlaceMarker.png" alt="">
                        São Paulo - SP
                    </li>

                </ul>

            </div>

        </div>

        <hr>

        <p id="direitos">&copy; 2025 ReTech. Todos os direitos reservados.</p>

    </div>

    <!-- Final da Footer -->

</body>
</html>