<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/navbar.css">
</head>
<body>
    
    <!-- Inicio da Navbar -->

    <header class="navbar">
        <div class="container_nav">
            
            <div id="logo_nav">
                <a href=""><img src="../asset/img/Logo.svg" alt=""></a>
            </div>

            <nav class="nav">
                
                <ul class="ul_nav">

                    <li><a href="">Inicio</a></li>
                    <li><a href="">Sobre</a></li>
                    <li><a href="">Quem Somos</a></li>
                    <li><a href="">Serviços</a></li>
                    <li><a href="">Contato</a></li>

                </ul>

                <ul class="bt_nav">

                    <li class="button" id="bt_login" ><a href="">Entrar</a></li>

                </ul>

            </nav>
            
        </div>
    </header>

    <!-- Fim da Navbar -->

</body>
</html>

