:root {
  --bg-dark: #0b0f0a;
  --bg-hero: #1c1c1c;
  --bg-deep: #04200D;
  --primary: #1e8449;
  --primary-2: #27ae60;
  --text-light: #ffffff;
  --text-muted: #e0e0e0;
  --text-dark: #333333;
  --gray-1: #cccccc;
  --gray-2: #dddddd;
  --white: #ffffff;
}




body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.site {
  width: 100%;
}





.partePrincipal {
  position: relative;
  text-align: center;
  padding: 19.6%;
  background-color: var(--bg-hero);
  background-image: url(../asset/capa.jpeg);
  background-size: cover;
  background-position: center;
  color: var(--text-light);
}

.partePrincipal::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(28, 84, 29, 0.5);
  z-index: 1;
}

.partePrincipal * {
  position: relative;
  z-index: 2;
}


.principalTexto h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: var(--text-light);
}


.principalTexto p {
  font-size: 20px;
  color: var(--text-muted);
}


.principalBotoes {
  margin-top: 30px;
}


.principalBotoes a {
  color: var(--text-light);
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 5px;
  margin: 0 10px;
  background-color: #10B77F;
  transition: background-color 0.3s ease, transform 0.2s ease;
}


.principalBotoes a:last-child {
  background-color: #10B77F;
}


.principalBotoes a:hover {
  background-color: #10B77F;
  transform: translateY(-2px);
}




.problemas {
  text-align: center;
  padding: 80px 20px;
 background-color: var(--bg-deep);
}

.problemas h2 {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 10px;
}

.problemas>p {
  font-size: 17px;
  color: var(--text-light);
  margin-bottom: 40px;
}

.problemasContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.problemasContainer .caixa {
  background-color: var(--white);
  color: var(--text-dark);
  padding: 30px;
  width: 220px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.problemasContainer .caixa:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.problemasContainer .caixa h3 {
  margin-top: 0;
}




.sobre {
  background: linear-gradient(90deg, #f7fffa 0%, #e8f8f2 100%);
  color: var(--text-dark);
  padding: 80px 60px;
  font-family: 'Segoe UI', Arial, sans-serif;
}


.sobre h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
  font-weight: 700;
  color: #000000;
}


.sobreContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}


.empresa {
  flex: 1;
  min-width: 280px;
  max-width: 320px;
  text-align: left;
}

.empresa h3 {
  text-align: center;
  color: #10B77F;
  font-size: 22px;
  margin-bottom: 20px;
}

.empresa p {
  font-size: 15px;
  line-height: 1.6;
  color: #000000;
  text-align: justify;
}


.info {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
}

.info h3 {
  font-size: 20px;
  color: #10B77F;
  margin-bottom: 5px;
}

.info p {
  font-size: 15px;
  color: #000;
  line-height: 1.6;
  margin-bottom: 25px;
}


.colunaValores {
  flex: 1;
  min-width: 280px;
  max-width: 350px;
  text-align: center;
}

.colunaValores h3 {
  color: #10B77F;
  font-size: 22px;
  margin-bottom: 20px;
}


.valoresCaixas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-top: 15px;
}

.caixaValor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 25px 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 18px;
}

.caixaValor:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 14px rgba(0,0,0,0.15);
}

.caixaValor .emoji {
  font-size: 30px; 
  margin-bottom: 0; 
}
.beneficios {
  padding: 80px 20px;
  text-align: center;
  background-color:var(--bg-deep);
}

.beneficios h2 {
  color: #ffffff;
  font-size: 36px;
}

.beneficios>p {
  color: var(--text-light);
  margin-bottom: 40px;
  font-size: 17px;
}


.beneficiosContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 40px;
}

.beneficiosContainer .caixa {
  background-color: var(--white);
  color: var(--text-dark);
  padding: 35px;
  width: 220px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.beneficiosContainer .caixa:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}


.impactoBanner {
  background-color: var(--white);
  color: var(--text-dark);
  padding: 40px 20px;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 900px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}


.stats {
  display: flex;
  justify-content: space-around;
  gap: 12px;
  margin-top: 20px;
}


.stats div {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}


.stats p {
  font-size: 16px;
  font-weight: normal;
  margin-top: 5px;
}

.statReducao {
  color: var(--primary-2);
}

.statMenor {
  color: #3b3b3b;
}

.statEficiencia {
  color: var(--primary-2);
}

.servicos {
  background: linear-gradient(90deg, #f7fffa 0%, #e8f8f2 100%);
  color: var(--text-dark);
  padding: 80px 60px;
  text-align: center;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.servicos h2 {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}

.servicos h2 span {
  color: var(--primary);
}

.servicos > p {
  font-size: 17px;
  color: #000000;
  margin-bottom: 60px;
}


.servicosContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px 30px;
  justify-items: center;
  max-width: 1000px;
  margin: 0 auto 60px auto;
}


.servicoCaixa {
  background-color: var(--white);
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 25px 20px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  text-align: left;
  transition: all 0.3s ease;
}

.servicoCaixa:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.servicoCaixa h3 {
  font-size: 18px;
  color: #252525;
  margin-bottom: 10px;
}

.servicoCaixa p {
  font-size: 15px;
  color: #000000;
  line-height: 1.5;
}

.metricas {
   background-color: var(--bg-deep);
  padding: 80px 20px;
}

.containerMetricas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 40px;
  justify-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.caixaMetricas {
  background-color: var(--white);
  color: var(--text-dark);
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 380px;
  padding: 20px;
  transition: all 0.3s ease;
}

.caixaMetricas:hover {
  transform: translateY(-4px);
}

.iconeTitulo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.iconeMetricas {
  width: 45px;
  height: 45px;
}

.caixaMetricas h3 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.caixaMetricas p {
  font-size: 17px;
  line-height: 1.4;
  margin: 5px 0 0;
}

.metricas h2 {
  text-align: center;
  font-size: 2em;
}

.metricas h2 span {
  color: var(--primary-2);
  font-size: 1.3em;
}

.metricas h2 span1 {
  color: #ffffff;
  text-align: center;
  font-size: 1.3em;
}

.metricas .subtitulo {
  text-align: center;
  margin-bottom: 60px;
  color: var(--text-light);
}

.tecnologiaBanner {
  border-radius: 16px;
  background: linear-gradient(90deg, #10B77F 0%, #04200D 100%);
  color: var(--white);
  padding: 25px 30px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.tecnologiaBanner h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tecnologiaBanner p {
  font-size: 15px;
  color: #ffffff;
  line-height: 1.6;
}

.quemSomos {
  background: linear-gradient(90deg, #f7fffa 0%, #e8f8f2 100%);
  padding: 80px 60px;
  margin: auto;
  font-family: 'Segoe UI', Arial, sans-serif;
}


.quemSomos h2 {
  color: #000000;
  text-align: center;
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: 700;
}


.equipeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 0;
  max-width: 1000px;
  margin: 0 auto;
}

.membro {
  width: 45%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 25px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.membro:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.membro img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  border: 2px solid var(--primary);
}


.membro .info {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.membro p {
  margin: 0;
  line-height: 1.4;
  color: #000;
  font-size: 17px;
}

.membro p:first-child {
  font-weight: 700;
  font-size: 16px;
  color: var(--text-dark);
}

.membro .cargo {
  color: var(--primary);
  font-size: 14px;
  margin-top: 4px; 
}

@media (max-width: 960px) {
  .principalTexto h1 {
    font-size: 32px;
  }

  .principalTexto p {
    font-size: 16px;
  }

  .sobreContainer {
    flex-direction: column;
  }

  .colunaValores {
    text-align: center;
  }

  .servicosContainer {
    grid-template-columns: 1fr;
  }

  .contatoContainer {
    grid-template-columns: 1fr;
  }

  .formContato,
  .infoContato {
    width: 100%;
  }

  .equipeContainer {
    gap: 24px;
  }

  .membro {
    width: 100%;
    max-width: 420px;
  }
}