body {
  background-color: var(--bg-cinza);
}

.container-login {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  padding: 60px;
}

.cabecalho-login {
  align-self: center;
  margin-bottom: 40px;
}

.container-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.formulario-login {
  background-color: var(--bg-card);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border: 2px;
  border-left: 10px;
  border-right: 10px;
  padding: 30px;
  height: 330px;
  width: 380px;
}

.grupo-campo {
  margin-bottom: 15px;
}

.label-campo {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-campo {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.mensagem-erro {
  font-size: 0.9em;
  margin-top: 5px;
  text-align: center;
  color: var(--icon-erro);
}

.link-recuperar {
  text-align: center;
  margin-top: 15px;
}

#link_esqueci_senha {
  color: var(--text-destaque-color);
  text-decoration: none;
}

#link_esqueci_senha:hover {
  text-decoration: underline;
}

.logo-retech {
  height: 400px;
  margin-right: 0px;
  width: 400px;
  align-items: center;
  padding: 40px;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.visualizar_senha {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.visualizar_senha .input-campo {
  width: 100%;
  padding-right: 40px; /* espaço pro ícone */
  box-sizing: border-box;
}

#icone_olho {
  position: absolute;
  right: 12px;           /* distância da borda direita */
  top: 50%;              /* centraliza verticalmente */
  transform: translateY(-50%);
  color: #666;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;
}

#icone_olho:hover {
  color: #000;
  transform: translateY(-50%) scale(1.1);
}

#btn_entrar {
  width: 50%;
  height: 10%;
  align-self: center;
  margin-bottom: 2%;
}