/* ===== Geral ===== */
body {
  background-color: var(--bg-cinza);
  width: 100%;
  height: 30rem;
}

.container {
  margin: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* ===== Card Configuração ===== */

.configuracao {
  background-color: var(--bg-card);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 1000px;
  padding-bottom: 2rem;
  overflow-y: auto;
  height: 100%;
}

.configuracao_header {
  background-color: var(--bg-bt-gradiend-medio);
  color: var(--bt-text-color);
  padding: 1rem 1.5rem;
  border-radius: 10px 10px 0 0;
  font-size: 1.3rem;
}

/* Botões */

.botoes_configuracao {
  display: flex;
  flex-wrap: row;
  gap: 1%;
  padding: 3%;
}

.btn_criar {
  background: linear-gradient(90deg, var(--bg-bt-gradiend-claro), var(--bg-bt-gradiend-medio));
  border-radius: 6px;
  color: var(--bt-text-color);
  border: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.btn_criar:hover {
  background: linear-gradient(90deg, #0fdc9c, #064d2a);
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(16, 183, 127, 0.4);
}

.btn_filtro {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--bt-text-color);
  color: var(--text-padrao-color);
  padding: 0.4rem 1.2rem;
  border: 2px solid var(--bg-bt-gradiend-medio);
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}

.btn_filtro:hover {
  background-color: #f0fdf4;
  color: #15803d;
  border-color: #15803d;
}

/* Tabela de Usuários */

table { 
  width: 94%;
  margin: auto;
  border-collapse: collapse;
}

th {
  background-color: var(--bg-bt-gradiend-medio);
  color: white;
  padding: 0.8rem;
  border: 1px solid var(--bg-bt-gradiend-escuro);
}

td {
  border: 1px solid var(--bg-bt-gradiend-escuro);
  padding: 0.8rem;
  text-align: left;
}

tbody tr:hover {
  background-color: #f0fdf4;
}

/* ===== Card Cadastro ===== */

.card_cadastro {
  background-color: var(--bg-card);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: start;
  border: 2px;
  border-left: 10px;
  border-right: 10px;
  height: 100%;
  width: 30%;
  margin: 0 2%;
  overflow-y: auto;
}

.card_cadastro_header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%; /* Largura da Header */
  height: 2%; /* Altura do Header */
  border-radius: 10px 10px 0 0; /* Arredondamento das bordas */
  padding: 28px 0; /* Espaçamento Interno da Header */
  margin-bottom: 20px; /* Espaçamento abaixo da header */
  background-color: var(--bg-title-color); /* Cor de Fundo */
  color: var(--text-bg-escuro-color); /* Cor do Texto */
  font-weight: bold; /* Texto em Negrito */
  /* Header Fixa */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.card_cadastro_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

/* Inserção de Dados */

.campo_cadastro {
  width: 90%;
  margin-bottom: 10px;
}

.lbl_cadastro {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
}

.ipt_cadastro {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Botão de Cadastro */

#btn_cadastrar {
  width: 50%;
  height: 35px;
}

#div_erro{
  color: #D0312D;
  font-size: small;
  font-weight: bold;
  text-align: justify;
  width: 80%;
}


/* ===== Responsividade ===== */
@media (max-width: 768px) {
  .acoes {
    flex-direction: column;
    align-items: stretch;
  }
  .btn {
    width: 100%;
  }
}