<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Retech</title>
  <link rel="shortcut icon" href="../asset/LogoIcon.svg" type="image/x-icon">
  <link rel="stylesheet" href="../style/global.css">
  <link rel="stylesheet" href="../style/navbar.css">
  <link rel="stylesheet" href="../style/home.css">
  <link rel="stylesheet" href="../style/footer.css">
</head>

<!-- Inicio da Navbar -->

<header class="navbar">
  <div class="container_nav">

    <div id="logo_nav">
      <a href="#"><img src="../asset/Logo.svg" alt=""></a>
    </div>

    <nav class="nav">

      <ul class="ul_nav">

        <li><a id="page_atual" href="#">Início</a></li>
        <li><a href="#quemSomos">Equipe</a></li>
        <li><a href="#contato">Contato</a></li>
        <li><a href="calculadora.html">Calculadora</a></li>

      </ul>

      <ul class="bt_nav">

        <li><button class="button" onclick="window.location.href='login.html'">Entrar</button></li>

      </ul>

    </nav>

  </div>
</header>

<!-- Fim da Navbar -->

<body>
  <div id="inicio" class="partePrincipal">
    <div class="principalTexto">
      <h1>Transformando a coleta de <span style="color: #10B77F;">Resíduos</span> com Tecnologia</h1>
      <p>Menos desperdício, mais eficiência, mais sustentabilidade.</p>
    </div>
    <div class="principalBotoes">
      <a href="#sobre">Conheça a Retech</a>
      <a href="#quemSomos">Quem Somos</a>
    </div>
  </div>

  <div class="problemas">
    <h2>Os <span style="color: #10B77F;">Problemas</span> do Mundo Atual</h2>
    <p>A coleta de resíduos em São Paulo enfrenta grandes desafios:</p>
    <div class="problemasContainer">
      <div class="caixa">
        <h2>📍</h2>
        <h3>Rotas Ineficientes</h3><br>
        <p>Desperdício de combustível e tempo em rotas desnecessárias.</p>
      </div>
      <div class="caixa">
        <h2>🚛</h2>
        <h3>Coletas Desnecessárias</h3><br>
        <p>Caminhões circulando em áreas com lixeiras ainda vazias.</p>
      </div>
      <div class="caixa">
        <h2>💰</h2>
        <h3>Prejuízos Elevados</h3><br>
        <p>Custos elevados para empresas e prefeituras.</p>
      </div>
      <div class="caixa">
        <h2>🌍</h2>
        <h3>Impacto Ambiental</h3><br>
        <p>Resíduos nocivos ao meio ambiente expostos por períodos prolongados.</p>
      </div>
    </div>
  </div>

   <div id="sobre" class="sobre">
    <h2>Sobre a <span style="color: #10B77F;">ReTech</span></h2>
    <div class="sobreContainer">
      <div class="empresa">
        <h3>Empresa</h3>
        <p>
          <img src="../asset/Logo.svg" alt="Descrição da imagem" width="300" height="200"><br>
           A ReTech - Revolution Technology - é uma startup focada em soluções inteligentes para gestão de resíduos urbanos. Nosso objetivo é diminuir a ineficiência das coletas e tornar as cidades mais limpas, sustentáveis e tecnológicas.
        </p>
      </div>
      <div class="info">
        <h3>Missão</h3>
        <p>
          Otimizar as coletas de resíduos urbanos, reduzindo o desperdício de tempo, combustível e recursos por meio da aplicação de inovação tecnológica e inteligência de dados.
          Nosso objetivo é tornar o processo de gestão de resíduos mais eficiente, sustentável e inteligente.
        </p><br>
        <h3>Visão</h3> 
        <p>
          Ser reconhecida como referência nacional em gestão inteligente de resíduos, contribuindo ativamente para o desenvolvimento de cidades mais limpas, sustentáveis e conectadas ao futuro
        </p>
      </div>
      <div class="colunaValores">
        <h3>Valores</h3>
        <div class="valoresCaixas">
          <div class="caixaValor"><span class="emoji">🌱</span><br>Sustentabilidade</div>
          <div class="caixaValor"><span class="emoji">💡</span><br>Inovação</div>
          <div class="caixaValor"><span class="emoji">⚡</span><br>Eficiência</div>
          <div class="caixaValor"><span class="emoji">🔍</span><br>Transparencia</div>
        </div>
      </div>
    </div>
  </div>

  <div id="beneficios" class="beneficios">
    <h2> <span style="color: #10B77F;">Benefícios</span> da ReTech</h2>
    <p>Transformação completa na gestão de resíduos urbanos</p>
    <div class="beneficiosContainer">
      <div class="caixa">
        <h2>💰</h2>
        <h3>Econômico</h3><br>
        <p>Redução significativa de custos operacionais</p>
      </div>
      <div class="caixa">
        <h2>🌱</h2>
        <h3>Ambiental</h3><br>
        <p>Menos emissão de gases poluentes</p>
      </div>
      <div class="caixa">
        <h2>🏢</h2>
        <h3>Urbano</h3><br>
        <p>Melhoria na limpeza da cidade e estética urbana</p>
      </div>
      <div class="caixa">
        <h2>🔍</h2>
        <h3>Gestão</h3><br>
        <p>Dados em tempo real para decisões rápidas</p>
      </div>
    </div>
    <div class="impactoBanner">
      <h3>Impacto Esperado nas cidades</h3>
      <div class="stats">
        <div class="statReducao">
          - 40%
          <p>Redução de custos operacionais</p>
        </div>
        <div class="statMenor">
          - 30%
          <p>Menor emissão de CO₂</p>
        </div>
        <div class="statEficiencia">
          + 50%
          <p>Eficiência nas coletas</p>
        </div>
      </div>
    </div>
  </div>

  <div id="servicos" class="servicos">
    <h2>Nossos <span style="color: #10B77F;">Serviços</span></h2>
    <p>
      A Retech utiliza Tecnologia de ponta para otimizar todos os processos
    </p>
    <div class="servicosContainer">
      <div class="servicoCaixa">
        <h3>📡 Sensores Inteligentes</h3>
        <p>Medição em tempo real do nível de enchimento...</p>
      </div>
      <div class="servicoCaixa">
        <h3>📊 Dashboard de Monitoramento</h3>
        <p>Gestores acompanham dados em tempo real...</p>
      </div>
      <div class="servicoCaixa">
        <h3>📍 Otimização de Rotas</h3>
        <p>Rotas eficientes a partir da análise dos dados...</p>
      </div>
      <div onclick="Link()" class="servicoCaixa">
        <h3>💻 Simulador Financeiro</h3>
        <p>Simulações personalisadas para o seu projeto...</p>
      </div>
    </div>
    <div class="tecnologiaBanner">
      <h3>Tecnologia Integrada</h3>
      <p>
        Nossa plataforma combina inteligência artificial, IoT e análise de dados para revolucionar a gestão de resíduos urbanos.

      </p>
    </div>
  </div>
  
   <div class="metricas">
      <h2>
        <span1>ReTech</span1>
        <span>Métricas</span>
      </h2>
      <p class="subtitulo">
        A ReTech define as seguintes métricas para o controle de coleta da sua cidade
      </p>

      <div class="containerMetricas">
        <div class="caixaMetricas">
          <div class="iconeTitulo">
            <img
              src="../asset/LixeiraEstavelIcon.svg"
              alt="Lixeira verde"
              class="iconeMetricas"
            />
            <div>
              <h3>Nível Estável</h3>
              <p>Preenchimento em até 25%<br />Coleta desnecessária, risco baixo.</p>
            </div>
          </div>
        </div>

        <div class="caixaMetricas">
          <div class="iconeTitulo">
            <img
              src="../asset/LixeiraModeradaIcon.svg"
              alt="Lixeira amarela"
              class="iconeMetricas"
            />
            <div>
              <h3>Nível Moderado</h3>
              <p>Preenchimento acima de 25% até 50%<br />Coleta recomendada, risco médio.</p>
            </div>
          </div>
        </div>

        <div class="caixaMetricas">
          <div class="iconeTitulo">
            <img
              src="../asset/LixeiraAlertaIcon.svg"
              alt="Lixeira laranja"
              class="iconeMetricas"
            />
            <div>
              <h3>Nível Alerta</h3>
              <p>Preenchimento acima de 50% até 75%<br />Coleta realizada iminente, risco alto.</p>
            </div>
          </div>
        </div>

        <div class="caixaMetricas">
          <div class="iconeTitulo">
            <img
              src="../asset/LixeiraCriticaIcon.svg"
              alt="Lixeira vermelha"
              class="iconeMetricas"
            />
            <div>
              <h3>Nível Crítico</h3>
              <p>Preenchimento acima de 75% até 100%<br />Coleta imediata necessária, risco extremo.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

   <div id="quemSomos" class="quemSomos">
    <h2>Quem <span style="color: #10B77F;">Somos</span></h2>
    <p><span style="color: black;">A equipe ReTech surgiu a partir de um grupo de estudantes da faculdade São Paulo Tech School, que tem como objetivo desenvolver um projeto que contribua para a limpeza urbana.</span></p><br><br>
    <div class="equipeContainer">
      <div class="membro">
        <img src="../asset/fotoQuevedo.jpg" alt="">
        <div class="info">
        <p>Lucas Quevedo</p> 
        <p class="cargo">Análise e Desenvolvimento de Sistemas</p>
        </div>
      </div>
      <div class="membro">
        <img src="../asset/fotoGleison.png" alt="">
        <div class="info">
        <p>Gleison Almeida</p>
        <p class="cargo">Análise e Desenvolvimento de Sistemas</p>
        </div>
      </div>
      <div class="membro">
        <img src="../asset/fotoArthur.jpg" alt="">
        <div class="info">
        <p>Arthur Rodrigues</p>
        <p class="cargo">Análise e Desenvolvimento de Sistemas</p>
        </div>
      </div>
      <div class="membro">
        <img src="../asset/fotoPedro.jpg" alt="">
        <div class="info">
        <p>Pedro Cardoso</p>
        <p class="cargo">Análise e Desenvolvimento de Sistemas</p>
        </div>
      </div>
      <div class="membro">
        <img src="../asset/Samara.png" alt="">
        <div class="info">
        <p>Samara Freitas</p>
        <p class="cargo">Análise e Desenvolvimento de Sistemas</p>
        </div>
      </div>
      <div class="membro">
        <img src="../asset/fotoGabriel.png" alt="">
        <div class="info">
        <p>Gabriel Pereira</p>
        <p class="cargo">Análise e Desenvolvimento de Sistemas</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Inicio da Footer -->

  <div class="footer">
    <div class="container_footer">

      <div class="ftr_slogan">
        <img src="../asset/Logo_branca.svg" alt="">

        <p id="slogan">Transformando a gestão de resíduos urbanos através da <br>
          tecnologia e inovação</p>

      </div>

      <div class="ftr_links">
        <ul>

          <h4 class="title">Links Rápidos</h4>
          <li><a href="#inicio">Inicio</a></li>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#beneficios">Beneficios</a></li>
          <li><a href="#servicos">Serviços</a></li>
          <li><a href="#quemSomos">Quem Somos</a></li>
          <li><a href="#contato">Contato</a></li>


        </ul>
      </div>

      <div class="ftr_contatos">

        <ul>

          <h4 class="title">Contatos</h4>
          <li>
            <img src="../asset/EmailIcon.png" alt="">
            contato@retech.com
          </li>
          <li>
            <img src="../asset/PhoneIcon.png" alt="">
            (11) 99999-9999
          </li>
          <li>
            <img src="../asset/PlaceMarkerIcon.png" alt="">
            São Paulo - SP
          </li>

        </ul>

      </div>

    </div>

    <hr>

    <p id="direitos">&copy; 2025 ReTech. Todos os direitos reservados.</p>

  </div>

  <!-- Final da Footer -->
  </div>
  <script>
    function enviar() {
      ipt_nome.value = "";
      ipt_email.value = "";
      ipt_empresa.value = "";
      ipt_mensagem.value = "";
    }
  </script>
</body>
</html>

